---
layout: default
title: Manoj's code repo's
---

 <div class="inlinepage">
   <div  class="story">
     <div class="inline-body">
        <div class="story-body">
            <h3 class="story-body-title">{{ page.title }}</h3>
            <p>
              This is an overview page for Manoj's source code
              repositories, and changes made to the site. New projects
              will be announced below. Pleas use the navigatiopn bar
              at the left to visit the overview pages for each project.
            </p>
            <p>
              At this point, the repositories I have can be divided
              into four parts:
            </p>
            <ul>
               <li>Debian packages I maintain</li>
               <li>Software I have written that is also packaged for Debian</li>
               <li>Components of my home directory, for migrating to
                   new, and possibly ephemeral machines, and</li>
               <li>miscellaneous projects, either old work products I
                   can share, or works in progress, or anything else I
                   might want to stash here.</li>
            </ul>
        </div>  <!-- story-body -->
        <div class="postedby">
            <p class="postedby">
              <span class="author">{% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</span>
            </p>
        </div> <!-- postedby -->
     </div> <!--inline-body-->
   </div>
 </div>

<!-- Show last 5 posts here -->
{% for post in site.posts limit: 5  %}
 <div class="inlinepage">
   <div  class="story">
     <div class="inlineheader">
        <div class="blogDate">
          <span class="dow">{{post.date|date:"%A"}}</span>
          <span class="day">{{post.date|date:"%e"}}</span>
          <span class="month">{{post.date|date:"%B"}} <br /></span>
          <span class="year">{{post.date|date:"%Y"}}</span>
        </div><!-- blogDate -->
        <div class="headers">
            <a href="{{site.baseurl}}{{post.url}}">Link: <span class="storytitle">{{ post.title }}</span></a>
            <br />

              <div class="taglink">
                <span class="left">[</span>
                <ul>
                    <li class="tag">{{ post.categories | category_links }}</li>
                </ul>
                <span class="right">]</span>
              </div> <!-- taglink -->
            <p class="postedon">
              <span class="pagedate">
                Posted <span class="date">{{post.date|date:"%c"}}</span></span>
            </p>
        </div>  <!-- headers -->
     </div><!--inlineheader-->
     <div class="inline-body">
        <div class="story-body">
            <h3 class="story-body-title">{{ post.title }}</h3>
            {{ post.excerpt }}

        </div>  <!-- story-body -->
        <div class="postedby">
            <p class="postedby">
              <span class="author">{% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
            </p>
        </div> <!-- postedby -->
     </div> <!--inline-body-->
   </div>
 </div>

{% endfor %}
