<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <meta name="Author" content="Home - Manoj Srivastava" />
  <meta name="robots" content="index, follow" />
  <link rel="openid2.server" href="https://www.google.com/accounts/o8/ud" />
  <link rel="openid2.local_id" href="https://plus.google.com/+ManojSrivastava_gg" />

  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/styles/common.css" type="text/css" />
  <link rel="stylesheet" href="{{site.baseurl}}/styles/local.css" type="text/css" />
  <link rel="stylesheet" href="{{site.baseurl}}/styles/blog.css" type="text/css" />
  <link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon" />
</head>
<body>
  <div class="pagebody">
    <div class="page-top">
      <div class="topheader">
        <div class="titleinfo">
          <div class="title">

            <div id="masthead">
              <h1><a href="{{site.baseurl}}/">{{ site.name }}</a></h1>
              <h4>{{ site.description }}</h4>
            </div>
            <!-- masthead -->
          </div>
          <!--title-->
        </div>
        <!-- titleinfo -->
      </div>
      <!-- topheader -->
      <!-- menu bar at the top. Has three parts -->


      <div id="menubar">
        <!-- righttmost bits of the menubar -->


        <div id="menubar-right">
        </div>
        <!-- menubar-right -->
        <!-- The leftmost bits of the menu bar  -->


        <div id="menubar-left">
        </div>
        <!-- menubar-left -->
        <!-- empty, closing bits of the menu bar -->


        <div id="menubar-close">
          <!-- <a href="/blog/manoj/">Manoj's blog</a> -->
        </div>
        <!-- menubar-close -->
      </div>
      <!-- menubar -->
    </div>
    <!--page-top-->
    <!-- ====================page-nav start============================== -->


    <div class="page-nav">
      <!-- navigation bar at the left.  -->


      <div class="nav-wrapper">
        <!--  acual navigation panel, which contains blocks for navigation -->


        <div id="navpanel">
          <!-- These litle blocks contain individual navigation. -->


          <div class="navblock">

            <h4>Relevant Links</h4>
            <ul>
              <li><a href="http://www.golden-gryphon.com/manoj/">Manoj's Home</a> </li>
              <li><a href="http://www.golden-gryphon.com/manoj/blog/">Manoj's Blog</a> </li>
              <li><a href="https://github.com/srivasta">View on Github</a> </li>
              <li><a href="{{site.baseurl}}">Github Overview</a> </li>
              <li><a href="http://www.golden-gryphon.com/manoj/about.html">About Me</a> </li>
              <li><a href="http://www.golden-gryphon.com/manoj/resume.html">My Resumé</a></li>
              <li><a href="http://www.golden-gryphon.com/download/C5779A1C.asc.txt">GPG key</a>
              </li>
              <li><a href=
              "http://www.golden-gryphon.com/download/policy.20090821.txt?version=1.0&amp;sha256sum=03b987f1eefa098c350929157e9c6ef5d234970c406e748935e65c0efcceaebb">
              Key Signing Policy</a>
              </li>
            </ul>

            <hr />

            <h4>Debian Packages</h4>
            <ul>
               <li><a href="https://github.com/srivasta/debian.packaging.flex/">flex</a></li>
               <li><a href="https://github.com/srivasta/debian.packaging.make">make</a></li>
               <li><a href="https://github.com/srivasta/debian.packaging.make-doc">make-doc</a></li>
               <li><a href="https://github.com/srivasta/debian.packaging.wm-icons">wm-icons</a></li>
               <li><a href="https://github.com/srivasta/debian.packaging.vm">vm</a></li>
               <li><a href="https://github.com/srivasta/debian.packaging.dist">dist</a></li>
               <li><a href="https://github.com/srivasta/debian.packaging.mailagent">mailagent</a></li>
               <li><a href="https://github.com/srivasta/debian.packaging.liblog-log4perl-perl">liblog-log4perl-perl</a></li>
               <li><a href="https://github.com/srivasta/debian.packaging.libgraphics-colorobject-perl">libgraphics-colorobject-perl</a></li>
               <li><a href="https://github.com/srivasta/debian.packaging.libgraphics-colornames-perl">libgraphics-colornames-perl</a></li>
               <li><a href="https://github.com/srivasta/debian.packaging.libgraphics-colordeficiency-perl">libgraphics-colordeficiency-perl</a></li>
               <li><a href="https://github.com/srivasta/debian.packaging.tome">tome</a></li>
            </ul>
            <hr />
            <h4>Native Packages</h4>
            <ul>
               <li><a href="https://github.com/srivasta/ucf">ucf</a></li>
               <li><a href="https://github.com/srivasta/kernel-package">kernel-package</a></li>
               <li><a href="https://github.com/srivasta/angband-doc">angband-doc</a></li>
            </ul>
            <hr />

            <h4>Miscellaneous</h4>
            <ul>
               <li><a href="http://github.golden-gryphon.com/QMS/">QMS</a></li>
               <li><a href="http://github.golden-gryphon.com/string_test_demo/">String demo</a></li>
               <li><a href="https://github.com/srivasta/CnCcalc">CnCcalc</a></li>
            </ul>
            <hr />

            <h4>Manoj's Home</h4>
            <ul>
               <li><a href="https://github.com/srivasta/home.vcsh.mr">mr</a></li>
               <li><a href="https://github.com/srivasta/home.vcsh.base">base</a></li>
               <li><a href="https://github.com/srivasta/home.vcsh.bash">bash</a></li>
               <li><a href="https://github.com/srivasta/home.vcsh.zsh">zsh</a></li>
               <li><a href="https://github.com/srivasta/home.vcsh.emacs">emacs</a></li>
               <li><a href="https://github.com/srivasta/home.vcsh.mail-config">mail-config</a></li>
               <li><a href="https://github.com/srivasta/home.vcsh.X11-config">X11-config</a></li>
            </ul>
            <hr />



            <p>
              <a href="http://validator.w3.org/check?uri=referer">
                <img alt="Valid XHTML 1.1"
                     src="http://www.golden-gryphon.com/images/valid-xhtml11-blue.png"
                     />
              </a>

              <a href="http://jigsaw.w3.org/css-validator/">
                <img alt="Valid CSS!"
                     src="http://www.golden-gryphon.com/images/vcss.png" />
              </a>

              <a href="http://feedvalidator.org/check.cgi?url=http%3A//www.golden-gryphon.com/blog/manoj/index.rss">
                <img alt= "RSS Valid"
                     src="http://www.golden-gryphon.com/images/rssvalid.gif" />
              </a>
            </p>

            <hr />
            <div class="center" style="margin-left: auto; margin-right: auto;">
<script src="https://www.goodreads.com/review/custom_widget/2110201.Bookshelf?cover_position=left&#38;cover_size=small&#38;num_books=3&#38;order=d&#38;shelf=read&#38;show_author=1&#38;show_cover=1&#38;show_rating=1&#38;show_review=1&#38;show_tags=1&#38;show_title=1&#38;sort=date_added&#38;widget_bg_color=FFFFFF&#38;widget_bg_transparent=true&#38;widget_border_width=1&#38;widget_id=1402101821&#38;widget_text_color=FFFFF0&#38;widget_title_size=small&#38;widget_width=thin" type="text/javascript" charset="utf-8"></script>
            </div>

          </div>
          <!-- navblock -->
        </div>
        <!-- navpanel -->
      </div>
      <!-- nav-wrapper -->
    </div>
    <!--page-nav-->
    <!-- ====================page-main start============================== -->


    <div class="page-main" id="main-body">
      <div id="main-panel">
        <div id="content">
          <div class="gotchi"><img class="gotchi" src="http://www.golden-gryphon.com/images/mgotchi-r.png" alt="Manoj's hackergotchi" />
          </div>
          <!-- gotchi -->


              {{ content }}

        </div>
        <!--main=panel-->
      </div>
      <!-- main-body -->
    </div>
    <!-- ====================page-bot start============================== -->


    <div class="page-bot">
      <hr />


      <div class="footinfo">
        <address>
          Webmaster <a href="mailto:webmaster@golden-gryphon.com">&lt;webmaster@golden-gryphon.com&gt;</a>
        </address>


        <div class="commitinfo">
          Manoj Srivastava &lt;srivasta@ieee.org&gt;
          <br />
          Phone: (615) 796-6646
          <br />
        </div>


        <div class="updated">
          <script type="text/javascript">
           //<![CDATA[
                <!--
                  document.write("<p>File Last Updated:");
                  document.writeln(document.lastModified);
                  document.writeln("<" + "/p>");
                  // -->
          //]]>
          </script>
        </div>
        <!-- updated -->
      </div>
      <!--"footinfo-->
    </div>
    <!--page-bot-->
  </div>
  <!--pagebody-->
</body>
</html>
