/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
.parentlinks  a {margin: 5px; }
.parentlinks  a:link    { color:#ffffb2; text-decoration: underline }
.parentlinks  a:hover   { border: 1px dotted; }
.parentlinks  a:visited {color:#FFF0F0;  text-decoration: none}
.parentlinks  a:active  {color:#ffff74;}

/* These are relevant only to the blog */
div.actions {
   float: right;
   width: auto;
   padding: 0px;
   margin: 0px;
}
div.actions ul li {
   display: inline;
   list-style: none;
   padding: 0px;
   margin: 0px;
}
div.actions ul li img {
   border: none;
}
div.actions ul li a:link, div.actions ul li a:visited {
   text-decoration: none;
}

div.actions ul li a:hover {
   text-decoration: underline;
   border-bottom: solid blue 1px;
}
/*******************************************************************/
/* This is where the breadcrumbs go to. */
breadcrumb a:link, breadcrumb a:visited, breadcrumb a:hover {
   color: #000020;
}

div.breadcrumbs {
   padding: 0.3em 0.3em;
   font-size: 70%;
   line-height: 130%;
   display: inline;
}
.breadcrumbs  a:link    { color:#ffffb2; text-decoration: underline }
.breadcrumbs  a:hover   { border: 1px dotted; }
.breadcrumbs  a:visited {color:#FFF0F0;  text-decoration: none}
.breadcrumbs  a:active  {color:#ffff74;}

/*******************************************************************/
/*******************************************************************/
/* Used in the NAV panel on the blog */
div.map {
   float: none;
   width: auto;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left:          auto;
   margin-right:         auto;
   padding: 0px;
   border: none;
}


div.map ul {
   float: none;
   width: auto;
   margin-top: -5px;
   margin-bottom: 2px;
   margin-left:          auto;
   margin-right:         auto;
   border: none;
   padding: 2px;
}
div.map ul li {
   float: none;
   width: auto;
   border: none;
   margin: 6px auto 6px auto;
   color: #ddffdd;  /* #CCEEAA; */
   background-color: #8B8BB0;
}

div.map ul li span.selflink {
   display: block;
   color: #2222AA;
   font-size: large;
   padding: 1px;
   padding-right: 3em;
   float: none;
   text-align: center;
   width: auto;
   margin: 6px auto;
   border: 2px outset;
}

div.map ul li a {
   text-align: left;
   color: blue;
   float: none;
   width: auto;
   border: 2px outset;
   border-radius: 1px;
}
div.map ul li ul {
   display: inline;
   float: none;
   width: auto;
   border: none;
   margin: 6px auto 6px auto;
   padding: 0px 0px 5px 0px;
   background-color: #8B8BB0;
}
div.map ul li ul li {
   display: inline;
   float: none;
   width: auto;
   border: none;
   background-color: #8B8BB0;  /* #CCEEAA; */
}
div.map ul li ul li a {
   display: inline;
   color: Black;
   float: none;
   width: auto;
   padding: 1px;
   margin: 6px auto 6px auto;
   border: outset #505773 1px;
}
div.map ul li ul li a.mapitem {
   display: inline;
   color: #555555;
   float: none;
   width: auto;
   padding: 1px;
   margin: 6px auto 6px auto;
   border: outset #505773 2px;
   border-radius: 3px;
}

div.navblock hr {
   clear: both;
   padding-top: 0.5ex;
}
/*
   These are autogenerated sections for the navbar
 */
div.navcategories {
   margin-top: 4px;
   margin-bottom: 4px;
   padding: 3px;
   font-size: 150%;
}
div.navcategories ul.categories {
   padding: 2px;
   margin-top: 5px;
   margin-bottom:5px;
   border-top: 1px dotted #000020;
}

div.navcategories ul.categories a {
   padding: 2px;
   margin-right: 5px;
}

div.navcategories li {
   font-size: 90%;
}
div.navheadlines {
}
div.navsearch {
}


/* calendar plugin */
.month-calendar-day-head,
.month-calendar-day-nolink,
.month-calendar-day-link,
.month-calendar-day-this-day,
.month-calendar-day-future {
        text-align: right;
}
.month-calendar-arrow A:link,
.year-calendar-arrow A:link,
.month-calendar-arrow A:visited,
.year-calendar-arrow A:visited {
        text-decoration: none;
        font-weight: normal;
        font-size: 150%;
}

div.calendar{
   margin-bottom: 10px;
   margin-top: 5px;
   margin-left: auto;
   margin-right: auto;
}

.calendar { }
.calendar table {
   margin-left:            auto;
   margin-right:           auto;
}
.calendar table .prev-link {
   margin-left:            0;
   text-align:             left;
}
.calendar table .next-link {
   margin-right:           0;
   text-align:             right;
}
table.month-calendar, table.year-calendar {
   border-collapse:        collapse;
}
table.month-calendar  {
   margin-left:          auto;
   margin-right:         auto;
   padding: 1px;
}
table.year-calendar {
   margin-left:          auto;
   margin-right:         auto;
   padding: 2px;
}

caption.month-calendar-head, caption.year-calendar-head {
   margin-left:          auto;
   margin-right:         auto;
   font-size:            110%;
   font-weight:          bold;
}
th.month-calendar-day-head, th.year-calendar-subhead {
   font-weight:            normal;
}
table.month-calendar {
   text-align:             center;
}

.year-calendar, .month-calendar {
   background-color:           #666666;
   color:                      #EEF0F0;
   border-right:               1px solid #BBBB20;
   border-bottom:              1px solid #BBBB20;
}

.month-calendar-day-this-day, .year-calendar-this-month {
   color:           #FFE0E0;
   background-color:           #441010;
}

month-calendar-day-link, year-calendar-month-link {
   color:           cyan;
}

month-calendar-head, year-calendar-head {
   background-color: #777777;
   color: #222244;
}

caption.month-calendar-head, caption.year-calendar-head {
   background-color: #777777;
   color: #222244;
}
td.month-calendar-day-future, td.year-calendar-month-future {
   color:                  #FFCFB5;
}

table.month-calendar {
   background-color:           #666666;
   border-right:               2px solid #BBBBBB;
   border-bottom:               2px solid #BBBBBB;
}
.calendar th {
   border-bottom:         1px dotted #000020;
}
.Saturday {
   border-left:          1px dotted #000020;
}
.Sunday {
   border-right:         1px dotted #000020;
}
.Saturday, .Sunday {
   background-color:           #333333; /* #F7DFDB; */
}

ul.archives li ul li {
   padding: 2px;
   display: inline;
}

/*******************************************************************/
/*******************************************************************/
/* This is the main panel of the blog */
/*
 * Comments left by people
 *
 */

div.comment-banner h1 {
   display: block;
   color: #FFD700;
   background-color: #000020; /* #6f7b34; #1A344B; #0040A4;  #606060 */
   height: 100px;
   line-height: 100px;
   font-variant: small-caps;
   font-family: Impact, Charcoal, sans-serif;
   font-weight: bold;
   text-transform: capitalize;
   font-size: xx-large;
   width: auto;
   text-align: center;
   margin-top: 1em;
   padding: 1px;
   border: 4px solid black;
}

div.comment  {
   width: auto;
   margin-left:   0px;
   margin-right:  auto;
   padding-left: 1px;
   border: 0;
}
div.comment div.comment-subject a {
   display: block;
   color: #FFD700;
   background-color: #000020; /* #6f7b34; #1A344B; #0040A4;  #606060 */
   padding: 5px;
   font-size: 125%;
   width: auto;
   margin-top: 4em;
   border: 1px dotted White;
}

div.comment div.comment-header {
   background-color: #494949;
   float: left;
   color: Black;                    /* #dee3ff; #D3EBD2; */
   line-height: 110%;
   font-weight: normal;
   padding: 3px 2px;
   margin-bottom: 10px;
   margin-top: 10px;
}

div.comment div.comment-header span.author {
   float: right;
   letter-spacing: 0.02em;
   padding-right: 3pt;
   border-right: 4px solid #dee3ff;
}
div.comment div.comment-header span.relativedate {
   letter-spacing: 0.02em;
   border-left: 4px solid #dee3ff;
}

div.addcomment {
   clear: right;
   float: none;
   display: Block;
   font-family: Ravie, fantasy, sans-serif;;
   Border: 4px;
   line-height: 100%;
   font-weight: normal;
   letter-spacing: 0.02em;
   margin-top: 5em;
}

div.inlinepage {
   clear:right;
   border-radius: 2em;
   background-color: #919191;
   border: solid Black;
}
/*
 * Here are the actual web logs. This is why we are doing this
 * page. The following elements are repeated for each entry.
 */

/* The date, at the top of each entry
 */
div.blogDate {
   clear: right;
   background-color: #000020; /* #6f7b34; #1A344B; #0040A4;  #606060 */
   color: #dee3ff;                    /* #dee3ff; #D3EBD2; */
   font-size: small;
   line-height: 110%;
   font-weight: normal;
   padding: 3px 2px;
   margin-left: 0.4em;
   margin-bottom: 10px;
   margin-top: 5ex;
   Border: 1px outset;
   /* border: 1px dotted; */
}
/* The day of the week */
span.day {
   float: left;
   width: auto;
   font-size: xx-large;
   line-height: 100%;
   font-weight: normal;
   letter-spacing: 0.02em;
   margin-left: 4pt;
   margin-right: 3pt;
   padding-right: 3pt;
   border-right: 4px solid #dee3ff;
}
/* The year */
span.dow {
   float:right;
   width: auto;
   font-size: xx-large;
   line-height: 100%;
   font-weight: normal;
   letter-spacing: 0.02em;
   margin-right: 4pt;
   margin-left: 3pt;
   padding-left: 3pt;
   border-left: 4px solid #dee3ff;
}
span.year {
   padding-left: 1.5em;
}
span.month {
   padding-left: 1.5em;
}



/* Each story has headers */
div.story div.headers {
   background-color: #777777; /* #C3FFFF; #FFD700;  #D3EBD2; #CEFFC0; #FFF2F8; */
   width: 16em;
   float: left;
   margin-right: 0.3em;
   margin-bottom: 0.3em;
   padding-left: 0.3em;
   padding-right: 0.3em;
   border: 1px outset #000020;    /* #6f7b34; */
}
div.story div.headers h1 {
   font-variant: small-caps;
   font-size: 200%;
   text-transform: capitalize;
   margin: 0 0.2em 0.1em 0em;
   border-bottom: 1px dotted #000000;
}
div.story div.headers h2 {
   font-size: 175%;
   margin: 0 0.2em 0.1em 0em;
   border-bottom: 1px dotted #000000;
}
div.story div.headers h3 {
   font-size: 150%;
   margin: 0 0.2em 0.1em 0em;
   border-bottom: 1px dotted #000000;
}
div.story div.headers h4 {
   font-size: 125%;
   margin: 0 0.2em 0.1em 0em;
   border-bottom: 1px dotted #000000;
}

/* An icon may be associated with the story */
div.icon {
   background-color: #dee3ff;    /* #D3EBD2;  */
   float:right;
   width: auto;
   margin: 0;
   border: 0;
}
/* and an image gallery */
div.imagegallery {
   padding: 4px;
   width: auto;
   margin-bottom: 15px;
   text-align: center;
}

div.imagegal {
}

div.imagerow {
   clear: left;
   margin-left: auto;
   margin-right: auto;
   padding:1px;
   width:  80%;
}
div.image {
   float: left;
   width: auto;
   margin: 5px 8% 5px 8%;
   text-align:center;
}

div.single-image img {
        /* max-width: 100%;             Not well supported yet */
   width: 100%;
}

div.image img {
   width: auto;
}

div.imagegallery div.image p {
   text-align: center;
}
div.imagecomments {
}

span.storypic {
   float: right;
   width: auto;
   padding: 0;
   border: none;
   margin: 5px 5px 5px 5px;
  /*
     border-left: 2px solid #6f7b34;
     border-bottom: 2px solid #6f7b34;
     */
}
span.storypic img {
   border: none;
}

/* The permalinks associated with the story */
div.story-links {
   margin-left: 0.15in;
   margin-right: 0.15in;
}
div.story-comments {
   display: inline;
}
a.story-category {
   text-align: left;
   display: inline;
}

a.story-permalink {
   width: auto;
   float: right;
}

span.pagedate, p.postedon {
   text-align: left;
   font-family: cursive;
   font-size: 75%;
   padding: 1px;
   margin: 1px;
}
span.pagedate:first-letter, p.postedon:first-letter {
   text-transform: uppercase;
   color: #C3FeB0;
   font-size: 155%;
   font-family: cursive;
  /*  padding: 0em; float: left; */
}

div.pagelicense {
   text-align: left;
   width: auto;
   float: left;
   font-family: cursive;
   font-size: 75%;
   padding: 1px;
   margin: 1px;
}
/* And, finally, the story itself */
div.value {
   margin-left: 0.5em;
   padding-left: 2px;
}

/* And the author's name */
div.postedby{
   text-align: right;
   margin-top: 3pt;
   margin-right: 4pt;
   margin-left: 3pt;
   padding: 8px 8px 8px 1em;
   font-size: smaller;
}
span.author:first-letter, p.postedby:first-letter
{
   text-transform: uppercase;
   color: #739e60;
   font-family: cursive;
   font-size: 215%;
   padding: 0em;
   line-height: 90%;
  /*  padding: 0em; float: left; */
}
span.author, p.postedby {
   padding: 2px;
   margin: 2px;
}

div.taglink {
   background-color: #AAAAAA; /* ##EBFFFF DEE3FF;  #D3EBD2; #CEFFC0; #FFF2F8; */
   font-variant: small-caps;
   text-transform: capitalize;
   padding: 3px;
   margin: 2px;
   width: auto;
   border: 2px outset #000020;   /*  #6f7b34; */
}
div.taglink ul {
   list-style: none;
   display: inline;
   padding: 0px;
   margin: 0px;
}
div.taglink ul li {
   background-color: #666666; /* ##EBFFFF DEE3FF;  #D3EBD2; #CEFFC0; #FFF2F8; */
   list-style: none;
   display: inline;
   padding:2px;
   border-radius: 6px;
   margin: 2px;
   border: 1px outset #494949;
}

div.taglink div.tag {
   border: 1px outset #494949;
}

div.taglink ul li a {
   padding:2px;
   margin: 2px;
   font-variant: small-caps;
   text-transform: capitalize;
}

div.taglink ul li a:link, div.taglink ul li  a:visited {
   text-decoration: none;
}
div.taglink ul li a:hover {
   text-decoration: none;
   border-bottom: solid #030003 1px;
}

div#backlinks {
   clear: right;
}
div#backlinks ul {
   list-style: none;
}
div#backlinks li {
   list-style: none;
   padding: 2px;
   margin: 2px;
}
div#backlinks li a {
   text-decoration: none;
}
div#backlinks li a:link, div#backlinks li a:visited {
   text-decoration: none;
}
div#backlinks li a:hover {
   text-decoration: none;
   border-bottom: solid #030003 1px;
}

div#feedlink {
   margin:  2px;
   padding: 2px;
}
a.feedbutton:link, a.feedbutton:visited {
   text-decoration: none;
}

/* Link of people who came here */
div.referer {
   padding: 2px;
   margin: 2px;
   font-size: x-small;
}
div#menureferer {
   padding: 2px;
   margin: 2px;
   font-size: small;
}

/* If there are more entries than can be displayed, here goes the
 * navigation
 */
div.more_entries {

}

/*******************************************************************/
/*******************************************************************/
/* used in the blog footer */
/* The recent changes page. */

div.recentchanges {
   margin-left: 2em;
   padding-left: 1em;
   width: auto;
   clear: none;
   background: transparent;
   color: inherit;
}

.recentchanges .changelog {
   margin-top: 0.8em;
   border-bottom: solid #FFFFF0 2px;
   font-family: Baskerville, "Times New Roman", Times, serif;
   font-size: 120%;
}

div.recentchanges div.metadata span.pagelinks a {
   display: block;
   color: black;
   font-size:95%;
   margin-left: auto;
   text-align: right;
   clear: both;
}
div.recentchanges div.metadata span.pagelinks a img {
   float: left;
   color: black;
}



/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/* Plugins */

/* PAGECLOUD */

.pagecloud {
   float: right;
   width: 45%;
   background-color: #666666;
   padding: 15px;
   text-align: center;
   margin-left: 1em;
   margin-right: 70px;
   margin-bottom: -5ex;
   border: 1px solid #aaa;
}

.pagecloud a:hover {
   text-decoration: underline;
   border: none;
}

.smallestPC a {
   font-size: 0.8em;
   color: #fff5f5;
   background-color: #666666;
   text-decoration: none;
   font-size: 100%;
}

.smallPC a {
   font-size: 0.9em;
   color: #ffb2b2;
   background-color: #666666;
   text-decoration: none;
   font-size: 115%;
}

.normalPC a {
   font-size: 1.0em;
   color: #ff7474;
   background-color: #666666;
   text-decoration: none;
   font-size: 130%;
}

.bigPC a {
   font-size: 1.1em;
   color: #ff3636;
   background-color: #666666;
   text-decoration: none;
   font-size: 145%;
}

.biggestPC a {
   font-size: 1.2em;
   color: #ff0000;
   background-color: #666666;
   text-decoration: none;
   font-size: 160%;
}

.blogform, #blogform {
   padding: 10px 10px;
   border: none;
   background: #494949;
   color: #FFFFF0 !important;
   width: auto;
   overflow: auto;
}

.blogform input{
   background: #494949;
   color: #FFFFF0 !important;
}

input#searchbox {
   background: url(images/icons/search-bg.gif) no-repeat;
   background-color: #494949;
   background-position: 100% 50%;
   color: #FFFFF0;
   padding-right: 16px;
}

.gr_grid_container {
  /* customize grid container div here. eg: width: 500px; */
   width: 250px;
}
.gr_grid_book_container {
  /* customize book cover container div here */
   float: left;
   width: 39px;
   height: 60px;
   padding: 0px 0px;
   overflow: hidden;
}

/* This is used by the Syntax plugin for ikiwiki */
.synBar        { background-color: #2A2A2A; }
.synComment    { color: #9fE2F4; font-style:italic; } /* .slc .com */
.synConstant   { color: #FcF6F6; }                    /* .str */
.synError      { color: #FF0000; }
.synIdentifier { color: #F4Dc90; } /* .num */
.synLineNumber { color: #FcFa56; } /* .line */
.synPreProc    { color: #FfF661; } /* str */
.synSpecial    { color: #FcF6F6; } /* sym */
.synStatement  { color: #4eFeFc; } /* kwa kwb */
.synTodo       { color: #3cC6Fd; } /* kwd */
.synType       { color: #FcFa56; font-weight: bold } /* kwc */
.synUnderlined { text-decoration: underline }
/* This is used by the Syntax plugin for ikiwiki
.synBar        { color: #0000FF }
.synComment    { color: #0000FF }
.synConstant   { color: #0000FF }
.synError      { color: #FFFFFF ; background: #FF0000 none }
.synIdentifier { color: #008B8B }
.synLineNumber { color: #0000FF }
.synPreProc    { color: #A020F0 }
.synSpecial    { color: #6A5ACD }
.synStatement  { color: #A52A2A ; font-weight: bold }
.synTodo       { color: #0000FF ; background: #FFFF00 none }
.synType       { color: #2E8B57 ; font-weight: bold }
.synUnderlined { color: #000000 ; text-decoration: underline }
*/


/* Style definition file generated by highlight 3.9, http://www.andre-simon.de/ */

/* Highlighting theme: Navy */

body.hl { background-color:#000035; }
pre.hl  { color:#008bff; background-color:#000035; font-size:10pt; font-family:'Courier New';}
.hl.num { color:#f87ff4; }
.hl.esc { color:#66f5ff; }
.hl.str { color:#ff7f66; }
.hl.pps { color:#ffffff; }
.hl.slc { color:#ffbb00; font-style:italic; }
.hl.com { color:#ffbb00; font-style:italic; }
.hl.ppc { color:#bb00ff; }
.hl.opt { color:#ffffff; }
.hl.lin { color:#888888; }
.hl.kwa { color:#f8c50b; font-weight:bold; }
.hl.kwb { color:#e1e72f; }
.hl.kwc { color:#13d8ef; }
.hl.kwd { color:#ffffff; }

/* stuff for cookbook coloring */
.syntaxactiveblue { color: #0032FF; }
.syntaxactiveorange { color: #C86400; }
.syntaxcomment { color:  #696969; }
.syntaxdarkblue { color: #00008B; }
.syntaxdarkcyan { color: #008B8B; }
.syntaxdarkgreen { color: #006400; }
.syntaxerror { color:  #e63c3c; }
.syntaxfirebrick { color: #B22222; }
.syntaxkeyword { color:  #871f78; }
.syntaxname { color:  #000000; }
.syntaxstring { color:  #23238e; }
.syntaxtext { color:  #000000; }
/* end stuff */
